.left_stick {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.right_stick {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100px;
}

body {
    background: url("/stream.mjpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}